@media screen and (min-width: 1080px) and (max-width: 1920px) {
      .scrol {
            color: white;
            font-size: 15px;
            width: 2000px;
            height: 200px;
            //   justify-content: center;
            overflow-x: auto;
            scroll-snap-type: x mandatory;
      }

      .scrol ul {
            text-align: center;
            //   justify-content: center;
            display: flex;
            //   padding: 30px;
            scroll-snap-align: start;
      }
      .scrol ul li {
            padding: 20px 0px 10px 600px;
            white-space: nowrap;
            cursor: pointer;
      }
}
