@media screen and (min-width: 1080px) and (max-width: 1920px) {
      .Logo {
            display: flex;
            justify-content: center;
      }
      .Logo li {
            padding: 4px 120px 2px 2px;
      }
      .Logo li img {
            height: 50px;
      }
      .logo {
            display: flex;
            justify-content: right;
            justify-content: center;
      }
      .logo li {
            padding: 22px 20px 5px 2px;
      }
      .flex {
            display: flex;
            padding: 0;
            margin: 0;
            justify-content: space-between;
            border: 1px solid rgb(0, 0, 0);
            background-color: black;
      }
      .logo li a:hover {
            border-bottom: 1px solid goldenrod;
            // border: 2px solid white;
            text-decoration: dashed;
            color: gold;
      }
}
