* {
      margin: 0;
      padding: 0;
      font-family: sans-serif !important;
}
li {
      list-style: none;
}
a {
      list-style: none;
      color: white;
      border: none;
      text-decoration: none;
}
body,
root,
html {
      height: 100%;
}
